.button{
    background: #C4C4C4;
    color:azure;
    border-radius: 18.5px;
    height: 5vh;
    text-align: center;
    border: none;
    width: 75%;

    &--1{
        background: #7474C4;
        border: 5.15723px solid #7474C4;
    }
}