@import "button";
@import "nav";

.product{
    width: 80%;
    margin: 8%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #E0E0E0;
    border-radius: 9px;
    height: 20vh;
    display: flex;
    flex-direction: row;

    &__image{
        width: 20%;
        height: 100%;
    }

    &__info{
        width: 60%;
        padding: 4%;
    }

    &__options{
        width: 20%;
        padding: 4%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


.addmore{
    margin:  6% 12%;
   
}

.money{
    margin: 12%;
    width: 80%;

    &__options{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.forms{
    margin: 12%;
    display: flex;
    flex-direction: column;
    
     > *{
         margin-bottom: 16px;
    }
}

.cart__banner{
    margin: 12%;
}