
#loginBox {
    width: 83em;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    
  }

  #createUserForm{

    padding-left: 1em;
  }

  @media screen and (max-width: 480px) {
    #singUpBox{
      grid-template-columns: 1fr;
    }
  }
  div{
      padding: 1em;;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  input[type=submit] {
    padding: 12px 20px;
    border-radius: 1em;
    width: 100%;
    text-align: center;
    background-color: #c5c5c5;
    color:white;
    border-color: gray;
  }

  label{
    padding-top: 1em;
    font-size: 1.5em;
  }

  #termandcondition{
    padding-top: 0.5em;
  }

  input{

    color: #000;
    border:none;
    border-bottom: 1px solid #000;
    padding-top: 0.8em;
    box-sizing: border-box;
    resize: vertical;
    border-bottom: 3px solid #000;
    border-color: #7575C8;
    padding: 2.8em 0.4em 1em;
    padding-bottom: initial;
    text-align: left;
    font-size: 2em;

  }

  .logo{
    
  }

  .imgSignUp{

    width: 65em;
    height: 100%;
  }

  .imgSignin{

    width: 45em;
    height: 100%;
  }

  #loginForm{

    padding-top: 10em;

  }